Repository FreeProving/free-compiler, pull requests merged in 2020-06, with the labels that each got.

#51 Refine inlining recursively and adapt function ordering in Coq code
  src/lib/FreeC/Backend/Coq/Converter/FuncDecl/NonRec.hs
  src/lib/FreeC/Backend/Coq/Converter/FuncDecl/Rec/WithHelpers.hs
  src/lib/FreeC/IR/Inlining.hs
  src/test/FreeC/Backend/Coq/Converter/FuncDecl/Rec/WithHelpersTests.hs
Labels: Coq, IR

#60 Add check for kinds of type expressions #22
  free-compiler.cabal
  src/lib/FreeC/Pass/KindCheckPass.hs
  src/lib/FreeC/Pipeline.hs
  src/test/FreeC/Pass/KindCheckPassTests.hs
  src/test/FreeC/PipelineTests.hs
Labels: pipeline

#68 Test cases for #21
  free-compiler.cabal
  src/test/FreeC/Pass/CompletePatternPassTests.hs
  src/test/FreeC/PipelineTests.hs
Labels: tests

#87 Prevent name conflicts between imported modules
  example/Proofs/ListFunctorProofs.v
  src/lib/FreeC/Backend/Coq/Converter/Module.hs
  src/lib/FreeC/Backend/Coq/Syntax.hs
  src/lib/FreeC/Pass/ExportPass.hs
Labels: Coq, bug

#69 Implement adding size annotations to type expressions #59
  free-compiler.cabal
  src/lib/FreeC/Backend/Agda/Base.hs
  src/lib/FreeC/Backend/Agda/Converter.hs
  src/lib/FreeC/Backend/Agda/Converter/Free.hs
  src/lib/FreeC/Backend/Agda/Converter/FuncDecl.hs
  src/lib/FreeC/Backend/Agda/Converter/Module.hs
  src/lib/FreeC/Backend/Agda/Converter/Size.hs
  src/lib/FreeC/Backend/Agda/Converter/Type.hs
  src/lib/FreeC/Backend/Agda/Converter/TypeDecl.hs
  src/lib/FreeC/Backend/Agda/Keywords.hs
  src/lib/FreeC/Backend/Agda/Syntax.hs
  src/lib/FreeC/Backend/Coq/Converter/Module.hs
  src/lib/FreeC/Environment/Renamer.hs
  src/lib/FreeC/IR/Pragma.hs
Labels: Agda

#88 Specification for lifted IR #81
  .hlint.yaml
  free-compiler.cabal
  src/lib/FreeC/IR/Syntax/Expr.hs
  src/lib/FreeC/IR/Syntax/Type.hs
  src/lib/FreeC/LiftedIR/Effect.hs
  src/lib/FreeC/LiftedIR/Syntax.hs
  src/lib/FreeC/LiftedIR/Syntax/Expr.hs
  src/lib/FreeC/LiftedIR/Syntax/Name.hs
  src/lib/FreeC/LiftedIR/Syntax/Type.hs
Labels: IR

#93 Issue 59 tests #66
  free-compiler.cabal
  src/lib/FreeC/Backend/Agda/Converter/Type.hs
  src/test/FreeC/Backend/Agda/Converter/FuncDeclTests.hs
  src/test/FreeC/Backend/Agda/Converter/TypeDeclTests.hs
  src/test/FreeC/Backend/Agda/Tests.hs
  src/test/Spec.hs
Labels: Agda, tests

#92 Merge tests for #20 into main
  free-compiler.cabal
  src/test/FreeC/Pass/ExportPassTests.hs
  src/test/FreeC/PipelineTests.hs
Labels: tests

#78 Issue 7 tests
  free-compiler.cabal
  src/lib/FreeC/Backend/Coq/Converter/FuncDecl/NonRec.hs
  src/lib/FreeC/IR/Inlining.hs
  src/test/FreeC/IR/InliningTests.hs
  src/test/FreeC/IR/Tests.hs
Labels: tests
