Repository FreeProving/free-compiler, pull requests merged in 2020-09, with the labels that each got.

#173 Implement ShareableArgs typeclass
  base/coq/Free/Class.v
  base/coq/Free/Class/Shareable.v
  base/coq/Free/Class/ShareableArgs.v
  base/coq/Free/Instance/ND.v
  base/coq/Free/Instance/Share.v
  base/coq/Free/Instance/Trace.v
  base/coq/Free/Malias.v
  base/coq/Free/Verification/SharingHandlerTests.v
  base/coq/Free/Verification/SharingProofs.v
  base/coq/Prelude/Bool.v
  base/coq/Prelude/Integer.v
  base/coq/Prelude/List.v
  base/coq/Prelude/Pair.v
  base/coq/Prelude/Unit.v
Labels: Coq, enhancement

#186 Add tests for the definition of smart constructors as notations
  base/coq/Free/Verification/NormalizationTests.v
  base/coq/Free/Verification/SharingHandlerTests.v
  free-compiler.cabal
  src/test/FreeC/Backend/Coq/Converter/ModuleTests.hs
  src/test/FreeC/Backend/Coq/ConverterTests.hs
Labels: Coq, tests

#184 Adapt sharing infrastructure to flexible evaluation strategy approach
  base/coq/Free.v
  base/coq/Free/Class.v
  base/coq/Free/Class/Injectable.v
  base/coq/Free/Class/Normalform.v
  base/coq/Free/Class/Shareable.v
  base/coq/Free/Class/ShareableArgs.v
  base/coq/Free/Class/Strategy.v
  base/coq/Free/Instance/Comb.v
  base/coq/Free/Instance/Identity.v
  base/coq/Free/Instance/Maybe.v
  base/coq/Free/Instance/ND.v
  base/coq/Free/Instance/Share.v
  base/coq/Free/Instance/Trace.v
  base/coq/Free/Malias.v
  base/coq/Free/Util/Search.v
  base/coq/Free/Util/Sharing.v
  base/coq/Free/Verification/SharingHandlerTests.v
  base/coq/Prelude/Bool.v
  base/coq/Prelude/Integer.v
  base/coq/Prelude/List.v
  base/coq/Prelude/Pair.v
  base/coq/Prelude/Unit.v
  example/Base/NormalizationTests.v
  example/Base/SharingProofs.v
  example/Base/SharingTests.v
  example/Data/Tuple.hs
Labels: Coq, enhancement

#179 Add the `share` operator to the lifted IR
  base/Prelude.toml
  base/Test/QuickCheck.toml
  doc/ModuleInterfaceFileFormat.md
  free-compiler.cabal
  src/lib/FreeC/Backend/Agda/Converter/Expr.hs
  src/lib/FreeC/Backend/Agda/Converter/FuncDecl.hs
  src/lib/FreeC/Backend/Coq/Base.hs
  src/lib/FreeC/Backend/Coq/Converter/Arg.hs
  src/lib/FreeC/Backend/Coq/Converter/Expr.hs
  src/lib/FreeC/Backend/Coq/Converter/Free.hs
  src/lib/FreeC/Backend/Coq/Converter/FuncDecl/Common.hs
  src/lib/FreeC/Backend/Coq/Converter/FuncDecl/Rec/WithHelpers.hs
  src/lib/FreeC/Backend/Coq/Converter/FuncDecl/Rec/WithSections.hs
  src/lib/FreeC/Backend/Coq/Syntax.hs
  src/lib/FreeC/Environment.hs
  src/lib/FreeC/Environment/Entry.hs
  src/lib/FreeC/Environment/ModuleInterface/Decoder.hs
  src/lib/FreeC/Environment/ModuleInterface/Encoder.hs
  src/lib/FreeC/LiftedIR/Converter/Expr.hs
  src/lib/FreeC/LiftedIR/Effect.hs
  src/lib/FreeC/LiftedIR/Syntax/Expr.hs
  src/lib/FreeC/Pass/DefineDeclPass.hs
  src/lib/FreeC/Pass/EffectAnalysisPass.hs
  src/lib/FreeC/Pass/PartialityAnalysisPass.hs
  src/lib/FreeC/Pipeline.hs
  src/lib/FreeC/Util/Predicate.hs
  src/test/FreeC/Backend/Coq/Converter/ExprTests.hs
  src/test/FreeC/Pass/PartialityAnalysisPassTests.hs
  src/test/FreeC/Test/Environment.hs
Labels: IR, enhancement

#188 Replace old effect smart constructors and Partial instances
  base/coq/Free/Class/Injectable.v
  base/coq/Free/Instance/Identity.v
  base/coq/Free/Instance/Maybe.v
  base/coq/Free/Instance/ND.v
  base/coq/Free/Instance/Trace.v
  example/Base/NormalizationTests.v
  example/Base/SharingTests.v
  example/Proofs/ConsUnconsProofs.v
  example/Proofs/ReverseInvolutiveProofs.v
Labels: Coq, enhancement

#180 Define smart constructors for data types as notations
  base/coq/Prelude/Bool.v
  base/coq/Prelude/List.v
  base/coq/Prelude/Pair.v
  base/coq/Prelude/Unit.v
  cabal.project
  example/Base/SharingTests.v
  example/Proofs/AppendAssocProofs.v
  example/Proofs/ListFunctorProofs.v
  example/Proofs/ReverseInvolutiveProofs.v
  example/Queue/Queue.v
  free-compiler.cabal
  src/lib/FreeC/Backend/Coq/Base.hs
  src/lib/FreeC/Backend/Coq/Converter/Module.hs
  src/lib/FreeC/Backend/Coq/Converter/TypeDecl.hs
  src/lib/FreeC/Backend/Coq/Syntax.hs
  src/lib/FreeC/Environment.hs
  src/test/FreeC/Backend/Coq/Converter/TypeDeclTests.hs
Labels: Coq, enhancement

#189 Implement default handling functions
  base/coq/Free/Handlers.v
  base/coq/Free/Instance/Share.v
  example/Base/NormalizationTests.v
  example/Base/SharingTests.v
Labels: Coq, enhancement

#195 Fix type inference for `let`-expressions
  src/lib/FreeC/Pass/TypeInferencePass.hs
  src/test/FreeC/Pass/TypeInferencePassTests.hs
Labels: bug, pipeline

#193 Allow aliases in decreasing arguments analysis
  src/lib/FreeC/Backend/Coq/Analysis/DecreasingArguments.hs
  src/test/FreeC/Backend/Coq/Analysis/DecreasingArgumentsTests.hs
Labels: enhancement, pipeline

#194 Integrate Error effect
  base/coq/Free/Handlers.v
  base/coq/Free/Instance/Error.v
  example/Base/NormalizationTests.v
  example/Proofs/ConsUnconsProofs.v
Labels: Coq, enhancement

#199 Add pass that processes pragmas
  free-compiler.cabal
  src/lib/FreeC/Backend/Agda/Converter/Module.hs
  src/lib/FreeC/Backend/Coq/Converter/Module.hs
  src/lib/FreeC/Pass/DefineDeclPass.hs
  src/lib/FreeC/Pass/PragmaPass.hs
  src/lib/FreeC/Pipeline.hs
  src/test/FreeC/Pass/EffectAnalysisPassTests.hs
  src/test/FreeC/PipelineTests.hs
Labels: enhancement, pipeline

#198 Add support for case expressions with single variable pattern alternative
  free-compiler.cabal
  src/lib/FreeC/Frontend/Haskell/Simplifier.hs
  src/test/FreeC/Backend/Agda/Tests.hs
  src/test/FreeC/Backend/Coq/ConverterTests.hs
  src/test/FreeC/Backend/Coq/Tests.hs
  src/test/FreeC/Frontend/Haskell/SimplifierTests.hs
  src/test/FreeC/Frontend/Haskell/Tests.hs
  src/test/FreeC/Frontend/IR/ParserTests.hs
  src/test/FreeC/Frontend/IR/Tests.hs
  src/test/FreeC/IR/Tests.hs
  src/test/Spec.hs
Labels: Haskell, enhancement

#207 Add `call` operator.
  src/lib/FreeC/Backend/Agda/Converter/Expr.hs
  src/lib/FreeC/Backend/Coq/Base.hs
  src/lib/FreeC/Backend/Coq/Converter/Expr.hs
  src/lib/FreeC/LiftedIR/Converter/Expr.hs
  src/lib/FreeC/LiftedIR/Syntax/Expr.hs
  src/test/FreeC/Backend/Coq/Converter/ExprTests.hs
Labels: enhancement

#197 Sort `let` bindings topologically
  free-compiler.cabal
  src/lib/FreeC/Backend/Agda/Converter/Module.hs
  src/lib/FreeC/Backend/Coq/Analysis/ConstantArguments.hs
  src/lib/FreeC/Backend/Coq/Converter/FuncDecl.hs
  src/lib/FreeC/Backend/Coq/Converter/FuncDecl/NonRec.hs
  src/lib/FreeC/Backend/Coq/Converter/Module.hs
  src/lib/FreeC/Backend/Coq/Converter/TypeDecl.hs
  src/lib/FreeC/IR/DependencyGraph.hs
  src/lib/FreeC/IR/Subterm.hs
  src/lib/FreeC/IR/Syntax/Expr.hs
  src/lib/FreeC/IR/Syntax/FuncDecl.hs
  src/lib/FreeC/IR/Syntax/Name.hs
  src/lib/FreeC/IR/Syntax/TypeDecl.hs
  src/lib/FreeC/Pass/DependencyAnalysisPass.hs
  src/lib/FreeC/Pass/LetSortPass.hs
  src/lib/FreeC/Pipeline.hs
  src/test/FreeC/Backend/Coq/Converter/TypeDeclTests.hs
  src/test/FreeC/Pass/KindCheckPassTests.hs
  src/test/FreeC/Pass/LetSortPassTests.hs
  src/test/FreeC/PipelineTests.hs
Labels: IR, enhancement

#175 Generate typeclass instances
  base/coq/Free.v
  base/coq/Free/Class/Normalform.v
  base/coq/Free/Handlers.v
  base/coq/Free/Instance/Identity.v
  base/coq/Prelude/Bool.v
  base/coq/Prelude/Integer.v
  base/coq/Prelude/List.v
  base/coq/Prelude/Pair.v
  base/coq/Prelude/Unit.v
  example/Proofs/TypeclassInstances.hs
  example/Proofs/TypeclassInstancesProofs.v
  free-compiler.cabal
  src/lib/FreeC/Backend/Coq/Base.hs
  src/lib/FreeC/Backend/Coq/Converter/Free.hs
  src/lib/FreeC/Backend/Coq/Converter/TypeDecl.hs
  src/lib/FreeC/Backend/Coq/Converter/TypeDecl/InductionScheme.hs
  src/lib/FreeC/Backend/Coq/Converter/TypeDecl/TypeclassInstances.hs
  src/lib/FreeC/Backend/Coq/Syntax.hs
  src/lib/FreeC/Environment/Fresh.hs
  src/lib/FreeC/IR/Syntax/Type.hs
  src/lib/FreeC/Pass/CompletePatternPass.hs
  src/test/FreeC/Backend/Coq/Converter/TypeDeclTests.hs
Labels: Coq, enhancement

#203 Implement translation of tracing effect
  .hlint.yaml
  base/Debug/Trace.toml
  base/coq/Debug/Trace.v
  example/Proofs/Tracing.hs
  example/Proofs/Tracing.v
  free-compiler.cabal
  src/exe/Main.hs
  src/lib/FreeC/Backend/Agda/Converter/Expr.hs
  src/lib/FreeC/Backend/Coq/Analysis/ConstantArguments.hs
  src/lib/FreeC/Backend/Coq/Analysis/DecreasingArguments.hs
  src/lib/FreeC/Backend/Coq/Base.hs
  src/lib/FreeC/Backend/Coq/Converter/Expr.hs
  src/lib/FreeC/Backend/Coq/Converter/FuncDecl/Rec/WithSections.hs
  src/lib/FreeC/Environment.hs
  src/lib/FreeC/Environment/ModuleInterface/Decoder.hs
  src/lib/FreeC/Frontend/Haskell/Simplifier.hs
  src/lib/FreeC/Frontend/IR/Parser.hs
  src/lib/FreeC/Frontend/IR/Token.hs
  src/lib/FreeC/IR/Base/Prelude.hs
  src/lib/FreeC/IR/Base/Test/QuickCheck.hs
  src/lib/FreeC/IR/Inlining.hs
  src/lib/FreeC/IR/Reference.hs
  src/lib/FreeC/IR/Similar.hs
  src/lib/FreeC/IR/Subst.hs
  src/lib/FreeC/IR/Subterm.hs
  src/lib/FreeC/IR/Syntax/Expr.hs
  src/lib/FreeC/LiftedIR/Converter/Expr.hs
  src/lib/FreeC/LiftedIR/Effect.hs
  src/lib/FreeC/LiftedIR/Syntax/Expr.hs
  src/lib/FreeC/Pass/CompletePatternPass.hs
  src/lib/FreeC/Pass/EffectAnalysisPass.hs
  src/lib/FreeC/Pass/EtaConversionPass.hs
  src/lib/FreeC/Pass/KindCheckPass.hs
  src/lib/FreeC/Pass/ResolverPass.hs
  src/lib/FreeC/Pass/TypeInferencePass.hs
  src/test/FreeC/Backend/Coq/Converter/ExprTests.hs
  src/test/FreeC/Frontend/IR/ParserTests.hs
  src/test/FreeC/IR/SimilarTests.hs
  src/test/FreeC/Pass/EffectAnalysisPassTests.hs
  src/test/FreeC/Pass/TypeInferencePassTests.hs
Labels: IR, enhancement

#205 Incorporate handling into theorems
  base/Test/QuickCheck.toml
  base/coq/Free/Class.v
  base/coq/Free/Class/Handler.v
  base/coq/Free/Class/Strategy.v
  base/coq/Free/Handlers.v
  base/coq/Free/Instance/Identity.v
  base/coq/Test/QuickCheck.v
  example/Base/NormalizationTests.v
  example/Base/SharingTests.v
  example/Proofs/AppendAssocProofs.v
  example/Proofs/ConsUnconsProofs.v
  example/Proofs/ListFunctorProofs.v
  example/Proofs/ReverseInvolutiveProofs.v
  example/Proofs/TypeclassInstancesProofs.v
  example/Queue/Queue.v
  src/lib/FreeC/Backend/Coq/Base.hs
  src/lib/FreeC/Backend/Coq/Converter/Expr.hs
  src/lib/FreeC/LiftedIR/Effect.hs
  src/test/FreeC/Backend/Coq/Converter/ExprTests.hs
Labels: Coq, enhancement

#217 Use Coq naming scheme for induction schemes
  base/coq/Free/ForFree.v
  base/coq/Free/Induction.v
  base/coq/Free/Monad.v
  base/coq/Free/Tactic/ProveInd.v
  base/coq/Prelude/List.v
  cabal.project
  example/Proofs/AppendAssocProofs.v
  example/Queue/Queue.v
  free-compiler.cabal
  src/lib/FreeC/Backend/Coq/Converter/TypeDecl.hs
  src/lib/FreeC/Backend/Coq/Converter/TypeDecl/InductionScheme.hs
  src/lib/FreeC/Backend/Coq/Syntax.hs
  src/test/FreeC/Backend/Coq/Converter/TypeDeclTests.hs
Labels: Coq, enhancement

#213 Fix generation of helper functions with shared decreasing arguments
  src/lib/FreeC/Backend/Coq/Analysis/DecreasingArguments.hs
  src/lib/FreeC/Backend/Coq/Converter/FuncDecl/Rec/WithHelpers.hs
  src/lib/FreeC/Backend/Coq/Converter/FuncDecl/Rec/WithSections.hs
  src/lib/FreeC/IR/Subst.hs
  src/lib/FreeC/IR/Subterm.hs
  src/test/FreeC/Backend/Coq/Converter/FuncDecl/Rec/WithHelpersTests.hs
Labels: Coq, bug

#219 Fix effect instances in sections
  cabal.project
  free-compiler.cabal
  src/lib/FreeC/Backend/Coq/Converter/Expr.hs
  src/lib/FreeC/Backend/Coq/Converter/FuncDecl/Rec/WithSections.hs
  src/lib/FreeC/Backend/Coq/Syntax.hs
Labels: bug

#212 Update Pattern Matching Compiler
  base/Prelude.toml
  base/coq/Prelude/Bool.v
  cabal.project
  doc/ExperimentalFeatures/PatternMatchingCompilation.md
  example/Data/Maybe.hs
  example/Data/Partial.hs
  example/PatternMatching.hs
  free-compiler.cabal
  src/exe/FreeC/Application/Options/Descriptors.hs
  src/exe/FreeC/Backend.hs
  src/exe/FreeC/Frontend.hs
  src/exe/Main.hs
  src/lib/FreeC/Backend/Agda/Converter/Module.hs
  src/lib/FreeC/Backend/Coq/Converter/Module.hs
  src/lib/FreeC/Environment/LookupOrFail.hs
  src/lib/FreeC/Frontend/Haskell/PatternMatching.hs
  src/lib/FreeC/Frontend/Haskell/Simplifier.hs
  src/lib/FreeC/Frontend/IR/Parser.hs
  src/lib/FreeC/IR/DependencyGraph.hs
  src/lib/FreeC/IR/Similar.hs
  src/lib/FreeC/IR/Syntax/Module.hs
  src/lib/FreeC/Monad/Reporter.hs
  src/lib/FreeC/Pass/DependencyAnalysisPass.hs
  src/lib/FreeC/Pass/EtaConversionPass.hs
  src/lib/FreeC/Pass/ImportPass.hs
  src/lib/FreeC/Pass/KindCheckPass.hs
  src/lib/FreeC/Pass/LetSortPass.hs
  src/lib/FreeC/Pass/QualifierPass.hs
  src/lib/FreeC/Pass/ResolverPass.hs
  src/lib/FreeC/Pass/TypeSignaturePass.hs
  src/test/FreeC/Frontend/IR/ParserTests.hs
  tool/make-docs.sh
Labels: Haskell, enhancement
